service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow write: if request.auth.uid == userId;
      allow read: if request.auth.uid != null;
    }
    match /organizations/{organizationId} {
      allow write: if organizationId in get(/databases/$(database)/documents/UserOrganizations/$(request.auth.uid)).data.organizationIds;
      allow read: if request.auth.uid != null;
      match /joinRequests/{userId} {
        allow read: if request.auth.uid == userId || organizationId in get(/databases/$(database)/documents/UserOrganizations/$(request.auth.uid)).data.organizationIds;
        allow write: if request.auth.uid == userId;
        allow delete: if organizationId in get(/databases/$(database)/documents/UserOrganizations/$(request.auth.uid)).data.organizationIds;
      }
      match /groups/{groupId} {
        allow read, write: if organizationId in get(/databases/$(database)/documents/UserOrganizations/$(request.auth.uid)).data.organizationIds;
        match /users/{userId} {
          allow read, write: if organizationId in get(/databases/$(database)/documents/UserOrganizations/$(request.auth.uid)).data.organizationIds;
        }
      }
    }
    match /UserOrganizations/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
  }
}
